.main-bg {
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, #a4aeff, #ffff);
  padding-top: 70px;
  position: relative;
  gap: 20px;
}

/* navigasi */
.navStyle {
  margin-right: 20px;
}

.navStyle:hover {
  text-decoration: underline;
}

.navLink {
  margin-left: 5rem;
}
/* navigasi end */

/* baner */
.baner2 {
  margin-left: 27rem;
}

.baner-card {
  width: 50rem;
}

.bigBaner {
  margin-top: 2rem;
  object-fit: cover;
}
/* baner end */


/* Product Card */
.cards {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
  scroll-behavior: smooth;
  margin-top: 10px;
}

.cards::-webkit-scrollbar {
  height: 8px; /* Tinggi scrollbar */
}

.cards::-webkit-scrollbar-thumb {
  background-color: #888; /* Warna scrollbar */
  border-radius: 10px; /* Membuat ujung scrollbar melengkung */
}

.cards::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna saat hover */
}


.rectangle {
  width: 25px;
  height: 50px;
  border-radius: 5px;
  background: black;
  margin-left: 25px;
}

.linking span:hover {
  text-decoration: underline;
}


/* boxACtion DETAIL PRODUCT */

.card-keranjang {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  margin: 8px;
  padding: 15px;
  height: 20px;
}
.jumlah-product {
  border: 3px solid rgb(188, 184, 184);
  gap: 10px;
}

.button {
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 90px;
  margin-left: 90px;
}


/* CART PAGE */
.cart-title {
  text-decoration: underline;
  word-spacing: 5px;
  margin-top: 50px;
  margin-left: 100px;
}

.box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-box {
  width: 1200px;
  min-height: 450px;
  border: 5px;
  background: rgba(255, 255, 255, 0.4);
  margin-top: 2rem;
  justify-content: center;
}

.detailCart-box {
  width: 1150px;
  height: 50px;
  border: 5px;
  background: #BBCCE3;
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.whitebox {
  width: 1150px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
}

.card-keranjang2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  margin: 85px;
  margin-left: 90px;
  padding: 15px;
  height: 20px;
  width: 130px;
}

.button2 {
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}



/* PAGE PROFILE */
.profile-box {
  width: 1200px;
  min-height: 450px;
  border: 5px;
  background: rgba(255, 255, 255, 0.4);
  margin-top: 80px;
  margin-left: 80px;
}


/* page search result */
